*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{}
.welcome{
    height: 200px;
}
.welcome h1{
    text-align: center;
    margin: 20px;
    font-size: 35px;
    color: green;
}
.welcome p{
    text-align: center;
    width: 844px;
    margin: auto;
    font-size: 23px;
}


.project{
    margin: 50px;
    height: 280px;
}
.project .content{
    width: 33.33%;
    float: left;
    text-align: center;
    padding: 23px;
}
.project .content h1{
    margin-bottom: 18px;
    color: green;
}
.project .content p{}
.project .content a{
    text-decoration: none;
    background: green;
    color: white;
    padding: 12px 34px;
    display: inline-block;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 20px;
    transition: 0.5s ease;
	border: 2px solid blue;
}
.project .content a:hover{
	background-color: white;
	color: blue;
	border: 2px solid blue;
}